<h1>News Posts</h1>

<p>
  Welcome to the News Posts page.
</p>

<p>
  Number of posts <%= @news_posts.size %>
</p>

<%= link_to "New News Post", "/news_posts/new" %>

<% @news_posts.each do |news_post| %>
  <div class="news-post">
    <h2><%= news_post.title %></h2>
    <p>
      <%= news_post.body %>
    </p>
    <p>
      <%= link_to("Show Details", "/news_posts/#{news_post.id}") %>
    </p>
  </div>
<% end %>