<h1>News Posts</h1>

<p>
  Welcome to the News Posts page.
</p>

<p>
  Number of posts <%= @news_posts.size %>
</p>

<% if is_admin? %>
  <%= link_to "New News Post", new_news_post_path %>
<% end %>


<% @news_posts.each do |news_post| %>
  <div class="news-post">
    <h2><%= news_post.title %></h2>
    <p>
      <%= news_post.body %>
    </p>
    <p>
      <%= link_to "Show Details", news_post  %>

      <% if is_admin? %>
        <%= link_to "Edit Post", edit_news_post_path(news_post) %>
        <%= link_to "Destroy Post", news_post,
                    method: :delete, data: { confirm: "Are you sure?" } %>
      <% end %>
    </p>
  </div>
<% end %>