<!DOCTYPE html>
<html>
<head>
  <title>Testapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="header">
    <div class="container">
      <div class="nav">
        <%= link_to "Home", root_path %>
        <%= link_to "News Posts", news_posts_path %>

        <% if user_signed_in? %>
          <%= link_to "Sign out (#{current_user.email})", 
                      destroy_user_session_path, 
                      data: { method: :delete } %>
        <% else %>
          <%= link_to "Sign In", new_user_session_path %>
        <% end %>

      </div>
    </div>

  </div>

  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
